/*
$breakpoint-xs: 767px;
$breakpoint-sm: 991px;
$breakpoint-ipad: 1024px;
$breakpoint-ipadpro-max: 1366px;
*/
:root {
  /*colors*/
  --color-white: #FFFFFF;
  --color-black: #141414;
  --color-bg-accent-1: #232323;
  /*fonts*/
  --font-primary: 'venturi-regular', Arial, Helvetica, sans-serif;
  --font-primary-bold: 'venturi-bold', Arial, Helvetica, sans-serif;
  --font-primary-light: 'venturi-light', Arial, Helvetica, sans-serif;
  --font-secondary: 'swanse-regular', Arial, Helvetica, sans-serif;
  /* set base values */
  --text-base-size: 14px;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1rem / var(--text-scale-ratio));
  --text-md: calc(1rem * var(--text-scale-ratio));
  --text-lg: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}
@media only screen and (max-width: 576px) {
  :root {
    /* set base values */
    --text-base-size: 12px;
    --text-scale-ratio: 1.1 0.25;
  }
}
/*.transition(@transition: all, @duration: .3s, @anim: ease, @delay: 0s, @preLoad: false) {
  transition: @transition @duration @anim @delay;
  & when (@preLoad = true) {
    will-change: @transition;
  }
}*/
/*
@breakpoint-extra-small: 576px;
@breakpoint-small: 767px;
@breakpoint-med-small: 991px;
@breakpoint-med: 1024px;
*/
@font-face {
  font-family: 'venturi-bold';
  src: url('../fonts/venturissansadflt-bold.eot');
  src: url('../fonts/venturissansadflt-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/venturissansadflt-bold.woff') format('woff'), url('../fonts/venturissansadflt-bold.ttf') format('truetype'), url('../fonts/venturissansadflt-bold.svg#venturi-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'venturi-regular';
  src: url('../fonts/venturissansadf-regular.eot');
  src: url('../fonts/venturissansadf-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/venturissansadf-regular.woff') format('woff'), url('../fonts/venturissansadf-regular.ttf') format('truetype'), url('../fonts/venturissansadf-regular.svg#venturi-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'venturi-light';
  src: url('../fonts/venturissansadflt-regular.eot');
  src: url('../fonts/venturissansadflt-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/venturissansadflt-regular.woff') format('woff'), url('../fonts/venturissansadflt-regular.ttf') format('truetype'), url('../fonts/venturissansadflt-regular.svg#venturi-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swanse-regular';
  src: url('../fonts/swanse.eot');
  src: url('../fonts/swanse.eot?#iefix') format('embedded-opentype'), url('../fonts/swanse.woff') format('woff'), url('../fonts/swanse.ttf') format('truetype'), url('../fonts/swanse.svg#swanse-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swanse-bold';
  src: url('../fonts/swanse-bold.eot');
  src: url('../fonts/swanse-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/swanse-bold.woff') format('woff'), url('../fonts/swanse-bold.ttf') format('truetype'), url('../fonts/swanse.svg#swanse-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?vx2yjj');
  src: url('../fonts/icomoon.eot?vx2yjj#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?vx2yjj') format('truetype'), url('../fonts/icomoon.woff?vx2yjj') format('woff'), url('../fonts/icomoon.svg?vx2yjj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yt:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-play:before {
  content: "\e900";
}
html,
body {
  color: #141414;
  font-size: 14px;
  font-size: var(--text-base-size);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #232323;
}
@media only screen and (max-width: 576px) {
  html,
  body {
    font-size: 13px;
  }
}
body {
  font-family: 'swanse-regular', Arial, Helvetica, sans-serif;
  font-family: var(--font-secondary);
}
::-moz-selection {
  color: #3486cf;
  background: #225b8e;
}
::selection {
  color: #3486cf;
  background: #225b8e;
}
strong,
b {
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
  font-weight: 300;
}
p {
  color: #000000;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.5;
}
small,
.small {
  font-size: 90%;
  font-weight: 300;
}
a,
a:hover,
a:focus {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}
h1,
.text--xxl {
  font-size: var(--text-xxl);
}
h2,
.text--xl {
  font-size: var(--text-xl);
}
h3,
.text--lg {
  font-size: var(--text-lg);
}
h4,
.text--md {
  font-size: var(--text-md);
}
.text--sm,
small {
  font-size: var(--text-sm);
}
.text--xs {
  font-size: var(--text-xs);
}
/*
h1, .h1 {
	.font-size(55px);
	@media @extra-small {
		.font-size(30px);
	}
}
h2, .h2 {
	.font-size(48px);

	@media @extra-small {
		.font-size(27px);
	}
}
h3, .h3 {
	.font-size(24px);
	@media @extra-small {
		.font-size(18px);
	}
}*/
.font-fancy {
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.font-regular {
  font-family: 'swanse-regular', Arial, Helvetica, sans-serif;
}
.font-bold {
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.font-light {
  font-family: 'venturi-regular', Arial, Helvetica, sans-serif;
}
.font-medium {
  font-family: 'venturi-regular', Arial, Helvetica, sans-serif;
}
.font-black {
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.font-lowercase {
  text-transform: lowercase !important;
}
.font-uppercase {
  text-transform: uppercase !important;
}
.font-capitalize {
  text-transform: capitalize !important;
}
.font-transform-none {
  text-transform: none !important;
}
.accent-fgcolor-white {
  color: #FFFFFF;
}
.accent-fgcolor-white p {
  color: #FFFFFF;
}
.accent-fgcolor-black {
  color: #000000;
}
.accent-fgcolor-black p {
  color: #000000;
}
.accent-bgcolor-white {
  background-color: #FFFFFF;
}
.accent-bgcolor-black {
  background-color: #000000;
}
/*.container {
	max-width: 1224px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/
.section {
  position: relative;
}
.section__wrapper {
  position: relative;
  width: 100%;
}
.section--with-bg-1 {
  background-image: url("../img/bg/banner-bg.jpg");
  background-position: center center;
  background-size: cover;
}
.section--with-bg-dots {
  background-image: url("../img/pattern/pattern.png");
  background-position: center center;
  background-size: 28px 28px;
}
.section--with-bg-dots-2 {
  background-image: url("../img/pattern/pattern-2.png");
  background-position: center center;
  background-size: 28px 28px;
}
.main__cont {
  position: relative;
  overflow: hidden;
}
.btn {
  display: inline-block;
}
.hidden {
  display: none !important;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.full-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  clear: both;
  float: none;
}
.letter-spacing .line-height-1 {
  letter-spacing: 1 px;
}
.letter-spacing .line-height-2 {
  letter-spacing: 2 px;
}
.letter-spacing .line-height-3 {
  letter-spacing: 3 px;
}
.letter-spacing .line-height-4 {
  letter-spacing: 4 px;
}
.letter-spacing .line-height-5 {
  letter-spacing: 5 px;
}
.line-height .line-height-1 {
  line-height: 10 px;
}
.line-height .line-height-2 {
  line-height: 20 px;
}
.line-height .line-height-3 {
  line-height: 30 px;
}
.line-height .line-height-4 {
  line-height: 40 px;
}
.line-height .line-height-5 {
  line-height: 50 px;
}
/* Content flex*/
.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-flex-col {
  flex-direction: column;
}
.is-flex-left {
  align-items: flex-start;
}
.is-flex-right {
  align-items: flex-end;
}
.is-flex-center {
  align-items: center;
  justify-content: center;
}
.is-flex-top {
  justify-content: flex-start;
}
.is-flex-bottom {
  justify-content: flex-end;
}
.is-flex-space-between {
  justify-content: space-between;
}
.blk-search {
  text-align: center;
}
/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blk-article__text {
  padding: 75px 0;
}
.blk-article__text > div {
  max-width: 550px;
  margin: 0 auto;
}
.blk-article__text p {
  font-size: 18px;
  font-size: 1.2857142857142858rem;
  line-height: 26px;
  line-height: 1.8571428571428572rem;
  margin-bottom: 30px;
}
.blk-article__text p:last-child {
  margin-bottom: 0;
}
.blk-article__text .letter {
  font-size: 60px;
  font-size: 4.285714285714286rem;
  line-height: 60px;
  line-height: 4.285714285714286rem;
  margin: 0 28px 16px 0;
  float: left;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.blk-article__text .letter:after {
  content: "";
  display: block;
  background: #ececec;
  width: 100%;
  height: 1px;
  opacity: 0.5;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.blk-header {
  width: 100%;
}
.blk-header li {
  display: inline-block;
}
.blk-footer__wrapper {
  background: red;
  padding: 75px 0;
}
.blk-footer p {
  color: #FFFFFF;
  color: var(--color-white);
  margin: 0;
}
.blk-footer a {
  color: #FFFFFF;
  color: var(--color-white);
}
.blk-footer .row {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.blk-footer .row:last-child {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.blk-footer__menu ul {
  margin: 0;
}
.blk-footer__menu a {
  font-weight: 800;
  letter-spacing: 1px;
}
.blk-footer__sponsors {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.blk-footer__sponsors ul {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.blk-footer__sponsors li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.blk-footer__sponsors li.no-border {
  border: 0;
}
.blk-footer__sponsors .col-sm-12 {
  padding: 0;
}
.blk-footer__sponsors.row {
  padding: 0;
}
.blk-footer .copyright {
  opacity: 0.75;
}
.blk-text {
  max-width: 960px;
  margin: 0 auto;
}
.blk-text__wrapper {
  padding: 70px 0;
}
.blk-text--align-center {
  text-align: center;
}
.blk-text__title {
  margin-bottom: 68px;
}
.blk-text h1 {
  font-size: 30px;
  font-size: 2.142857142857143rem;
  color: #ff9b00;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.blk-text h2 {
  display: inline-block;
  color: #add8ff;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-size: 1.7142857142857142rem;
  border-bottom: 2px solid #add8ff;
}
.blk-text p {
  color: #FFFFFF;
  font-size: 18px;
  font-size: 1.2857142857142858rem;
  margin: 0 0 27px 0;
  display: block;
  line-height: 21px;
  line-height: 1.5rem;
}
.blk-text p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 576px) {
  .blk-text h2 {
    border-bottom: 0;
    text-decoration: underline;
  }
}
.blk-title {
  text-align: center;
}
.blk-title__wrapper {
  padding: 30px 0 40px 0;
}
.blk-title h1 {
  font-size: 30px;
  font-size: 2.142857142857143rem;
  line-height: 30px;
  line-height: 2.142857142857143rem;
  color: #ff9b00;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
  margin-bottom: 22px;
}
.blk-title h2 {
  display: inline-block;
  color: #FFFFFF;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-size: 1.7142857142857142rem;
  line-height: 24px;
  line-height: 1.7142857142857142rem;
}
.blk-video {
  position: relative;
}
.blk-video__thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-position: center center;
}
.blk-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blk-video__play [class^="icon-"],
.blk-video__play [class*=" icon-"] {
  color: #FFFFFF;
  font-size: 84px;
}
.blk-featperson {
  color: #ececec;
  z-index: 2;
  position: relative;
}
.blk-featperson a,
.blk-featperson p {
  color: #ececec;
}
.blk-featperson__wrapper {
  background: #0e0d12;
  overflow: hidden;
  position: relative;
}
.blk-featperson__wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  bottom: 0;
  background: #232323;
  background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, #232323 90%);
}
.blk-featperson__image {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -520px;
}
.blk-featperson__image img {
  margin: 0 auto;
  display: block;
  top: -490px;
  left: 0;
  position: relative;
  height: 2260px;
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .blk-featperson__image img {
    left: -40%;
  }
}
@media only screen and (max-width: 576px) {
  .blk-featperson__image img {
    left: -470px;
  }
}
.blk-featperson__title > div {
  height: 100vh;
}
.blk-featperson__title span {
  display: block;
}
.blk-featperson__title span:last-child {
  margin-top: 40px;
}
.blk-featperson__title .author {
  opacity: 0.5;
  font-size: 30px;
  font-size: 2.142857142857143rem;
  line-height: 25px;
  line-height: 1.7857142857142858rem;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.blk-featperson__title .title {
  font-size: 75px;
  font-size: 5.357142857142857rem;
  line-height: 65px;
  line-height: 4.642857142857143rem;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.blk-featperson__title h1 {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}
.blk-featperson__title h1:after {
  border-bottom: 2px solid #ececec;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  max-width: 270px;
  margin-top: 50px;
}
.blk-featperson__seperator {
  margin-top: -60px;
  text-align: center;
}
.blk-featperson__seperator a {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  font-size: 1rem;
}
.blk-featperson__seperator .seperator {
  border-bottom: 1px solid #ececec;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  opacity: 0.5;
}
.blk-featperson__seperator [class^="icon-"],
.blk-featperson__seperator [class*=" icon-"] {
  display: block;
  margin-top: 5px;
}
.blk-featperson__text {
  padding: 75px 0 160px 0;
}
.blk-featpost {
  padding: 25px 0;
  color: #ececec;
  z-index: 2;
  position: relative;
}
.blk-featpost a,
.blk-featpost p {
  color: #ececec;
}
.blk-featpost .inview-content {
  overflow: hidden;
}
.blk-featpost__wrapper {
  position: relative;
}
.blk-featpost__cover {
  position: relative;
  margin-bottom: -26%;
}
.blk-featpost__cover img {
  width: 100%;
}
.blk-featpost__cover__title {
  text-align: center;
  padding: 20px 0;
}
.blk-featpost__cover__title h2 {
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.blk-featpost__cover__title h2 .small {
  font-size: 50px;
  font-size: 3.5714285714285716rem;
  line-height: 50px;
  line-height: 3.5714285714285716rem;
}
.blk-featpost__cover__title h2 .title {
  font-size: 75px;
  font-size: 5.357142857142857rem;
  line-height: 70px;
  line-height: 5rem;
}
.blk-featpost__seperator .seperator {
  background: #ececec;
  height: 1px;
  width: 100%;
}
.blk-featpost__seperator .seperator:before {
  content: "";
  display: block;
  border-bottom: 1px solid #ececec;
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 300%;
  opacity: 0.5;
}
.blk-social {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  text-align: right;
}
.blk-social a {
  color: #fff;
}
.blk-social ul {
  padding: 35px 30px;
  margin: 0 auto;
  max-width: 1200px;
}
.blk-social li {
  margin-bottom: 10px;
}
.blk-social li:last-child {
  margin-bottom: 0;
}
.blk-social [class^="icon-"],
.blk-social [class*=" icon-"] {
  font-size: 20px;
  font-size: 1.4285714285714286rem;
  line-height: 20px;
  line-height: 1.4285714285714286rem;
}
.blk-social .fb {
  color: #3b5998;
}
.blk-social .yt {
  color: #ff0000;
}
.blk-social--inline {
  position: relative;
  z-index: 1;
}
.blk-social--inline ul {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.blk-social--inline li {
  display: block;
  margin: 0;
  margin-right: 20px;
}
.blk-social--inline li:last-child {
  margin-right: 0;
}
.blk-social--inline a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blk-social--decolorize .fb,
.blk-social--decolorize .yt {
  color: #FFFFFF;
  color: var(--color-white);
}
.blk-timeline {
  color: #FFFFFF;
}
.blk-timeline p {
  color: #FFFFFF;
}
.blk-timeline img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.blk-timeline__wrapper {
  position: relative;
  z-index: 2;
}
.blk-timeline__users {
  text-align: center;
  width: 100%;
  max-width: 65px;
  margin-right: 40px;
}
.blk-timeline__users li {
  margin-bottom: 15px;
}
.blk-timeline__users li:last-child {
  margin-bottom: 0;
}
.blk-timeline__users img {
  width: 60px;
  border-radius: 60px;
  margin-bottom: 8px;
}
.blk-timeline__users h3,
.blk-timeline__users h4,
.blk-timeline__users h5,
.blk-timeline__users h6 {
  font-family: 'swanse-bold', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1.1428571428571428rem;
  opacity: 0.5;
}
.blk-timeline__users__department {
  font-family: 'swanse-bold', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  line-height: 14px;
  line-height: 1rem;
  opacity: 0.4;
  display: block;
}
.blk-timeline__listing {
  display: flex;
}
.blk-timeline__media {
  margin-right: 50px;
}
.blk-timeline__media p {
  font-size: 16px;
  font-size: 1.1428571428571428rem;
  line-height: 24px;
  line-height: 1.7142857142857142rem;
}
.blk-timeline__media__listing {
  width: 90%;
}
.blk-timeline__media__listing > li {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 40px;
  /*&:last-child {
                    margin-bottom: 0;
                }*/
}
.blk-timeline__media__listing > li:not(.active) {
  display: none;
}
.blk-timeline__media__menu {
  width: 10%;
  position: relative;
}
.blk-timeline__media__menu h3,
.blk-timeline__media__menu h4,
.blk-timeline__media__menu h5,
.blk-timeline__media__menu h6 {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  line-height: 14px;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 34px;
}
.blk-timeline__media__menu li {
  position: relative;
  cursor: pointer;
}
.blk-timeline__media__menu li > div {
  margin-left: 10px;
}
.blk-timeline__media__menu li.active:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  background: #FFFFFF;
}
.blk-timeline__media__menu li.active:after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: -5px;
  height: 10px;
  width: 10px;
  background: transparent;
  transform: rotate(45deg);
  border: 2px solid #FFFFFF;
  border-top: transparent;
  border-right: transparent;
  background: #232323;
}
.blk-timeline__media__menu:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  background: rgba(255, 255, 255, 0.2);
}
.blk-timeline__quote__listing {
  overflow: hidden;
}
.blk-timeline__quote__item {
  padding: 190px 0;
}
.blk-timeline__quote__bg {
  background-image: url("../img/bg/quote_bg.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.15;
}
.blk-timeline__quote__text p {
  font-size: 50px;
  font-size: 3.5714285714285716rem;
  line-height: 60px;
  line-height: 4.285714285714286rem;
  font-family: 'venturi-bold', Arial, Helvetica, sans-serif;
}
.blk-timeline__quote__text p strong,
.blk-timeline__quote__text p b {
  border-bottom: 4px solid red;
}
.blk-timeline__quote__author {
  font-size: 18px;
  font-size: 1.2857142857142858rem;
  line-height: 20px;
  line-height: 1.4285714285714286rem;
  font-family: 'swanse-bold', Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.4);
}
